{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"},
    {poolboy, "1.5.2"},
    {epgsql, "4.7.1"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [erlang_messaging]}
]}.

{relx, [
    {release, {erlang_messaging, "0.1.0"}, 
     [erlang_messaging, cowboy, jsx, poolboy, epgsql, sasl]},
    
    {mode, prod},
    
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.